[Unit]
Description=Set Background In Apps To '%i'
After=environment.target
Wants=environment.target
Before=background.target

[Service]
ExecStart=/usr/bin/systemctl --user set-environment BACKGROUND=%i
ExecStart=/usr/bin/systemctl --user --no-block reload environment.service
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=background.target
DefaultInstance=dark
Also=environment.target
