[Unit]
Description=Set Background In Apps To '%i'
Before=background.target
After=graphical.target

[Service]
ExecStart=/usr/bin/systemctl --user set-environment BACKGROUND=%i
ExecStart=/usr/bin/systemctl --user --no-block restart x:background@%i.service
ExecStart=/usr/bin/systemctl --user --no-block restart background.target
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=background.target
DefaultInstance=light
