[Unit]
Description=Window Manager Online (i3)
Requires=graphical.target
After=graphical.target

[Install]
WantedBy=workplace.target
Also=i3.service
Also=xautolock@.service
Also=xrdb.service
Also=xset:fp.service xset:dpms@.service
Also=keyboard.service
