[Unit]
Description=Window Manager Online (i3)
Requires=graphical.target
After=graphical.target

[Install]
WantedBy=workplace.target
Also=graphical.target
Also=i3.service
Also=background.target
Also=monitors.service
Also=xclipboard-synchronizer.service
