[Unit]
Description=User environment variables
DefaultDependencies=no
After=mutliplexer.target
Wants=multiplexer.target
Before=environment.target

[Service]
Environment=SHELL=/bin/zsh
Environment=TERMINAL=urxvt
Environment=EDITOR=vim
Environment=MODAL_PATH=%h/bin/.dmenu
Environment=GOPATH=%h/go
Environment=RUBYPATH=/opt/ruby/2.5.0/bin
Environment=GEM_HOME=/opt/ruby/2.5.0/gems
EnvironmentFile=%h/.config/dotfiles.profile
ExecStart=/usr/bin/systemctl --user import-environment
ExecStart=/usr/bin/sh -c '/usr/bin/systemctl --user set-environment "PATH=$(\
    /usr/bin/paste < %h/.config/path -sd: | /usr/bin/sed -re"s#~#%h#g")"'
ExecReload=/usr/bin/sh -c 'env -0 | sed -z "s/=/\\\\x0/" | xargs -0 -n2 \
    tmux set-environment -g ; \
    tmux set -g update-environment "$(echo $(env -0 | grep -zo "^\\w+"))"'
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=environment.target
Also=environment.target multiplexer.target
