[Unit]
Description=Graphical Subsystem Online (X Server)
Requires=environment.target
After=environment.target

[Install]
Also=x@.service x:config@.target
