[Unit]
Description=Graphical Subsystem Online (X Server)
PartOf=workplace.target
Requires=environment.target
After=environment.target

[Install]
WantedBy=workplace.target
Also=x@.service
