[Unit]
Description=i3 Config Manager
PartOf=i3.service background.target
After=background.target
Requires=background.target

[Service]
WorkingDirectory=%h/.i3
ExecStart=/usr/bin/sh -c 'cat config.base config.$BACKGROUND > config'
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=display-manager.target
