[Unit]
Description=i3 Window Manager
Before=display-manager.target
Requires=graphical.target i3.socket
After=graphical.target
PartOf=display-manager.target

[Service]
Environment=XDG_SESSION_TYPE=x11
Environment=GDK_BACKEND=x11
;ExecStart=/usr/bin/gnome-session
ExecStart=/usr/bin/i3
ExecReload=/usr/bin/i3-msg reload

[Install]
RequiredBy=display-manager.target
Also=i3:config.service i3.socket display-manager.target
