[Unit]
Description=i3 Config Manager
After=background.target
Requires=background.target

[Service]
WorkingDirectory=%h/.i3
ExecStart=/usr/bin/sh -c 'exec i3-config'
ExecStart=/usr/bin/systemctl --user --no-block reload i3.service
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=i3.service
