[Unit]
Description=i3 Config Manager
After=i3.service
Requires=i3.service
;Wants=background.target

[Service]
WorkingDirectory=%h/.i3
ExecStart=/bin/env i3-config
ExecStart=/bin/env i3-frame
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
