[Unit]
Description=Configure X keyboard
Requires=graphical.target
After=graphical.target
Before=keyboard.target

[Service]
Type=forking
ExecStart=/bin/env configure-keyboard
RemainAfterExit=yes

[Install]
WantedBy=keyboard.target
