[Unit]
Description=Configure X keyboard
Requires=graphical.target
After=graphical.target
Before=display-manager.target

[Service]
ExecStart=/bin/env reconfig-kbd
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
