[Unit]
Description=Keynav Doppelganger
PartOf=display-manager.target
After=display-manager.target

[Service]
ExecStart=/bin/env %h/bin/keynav-doppelganger daemonize
Type=forking
Environment=KEYNAV_PIDFILE=%t/keynav.pid
PIDFile=%t/keynav.pid
Restart=always

[Install]
RequiredBy=display-manager.target
