[Unit]
Description=Keynav Doppelganger
Requires=graphical.target
After=display-manager.target

[Service]
ExecStart=/bin/env sh -c 'exec %h/bin/keynav-doppelganger daemonize'
Type=forking
Environment=KEYNAV_PIDFILE=%t/keynav.pid
PIDFile=%t/keynav.pid
Restart=always

[Install]
WantedBy=display-manager.target
