[Unit]
Description=Powersave Tunables

[Service]
ExecStart=/bin/sudo sh -c 'echo 1 > /sys/module/snd_hda_intel/parameters/power_save'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=basic.target
