[Unit]
Description="PPTP VPN Connection <-> %i"

[Service]
ExecStart=/usr/bin/sh -c "sudo pvpn -i 20.10.0.$(($RANDOM % 253 + 1)):20.10.0.2 -s %i root@%i default"
ExecStop=/usr/bin/sudo pvpn --stop
PIDFile=/var/run/ppp0.pid
Restart=always
RestartSec=1m
Type=forking

[Install]
WantedBy=environment.target
