[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
Requires=graphical.target keyboard.service
After=graphical.target keyboard.service
Before=keyboard.target

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
KillMode=process

[Install]
WantedBy=keyboard.target
