[Unit]
Description=Start Tmux Server
Before=multiplexer.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -ds - sh -c 'exec sleep inf'
ExecStop=/usr/bin/tmux kill-server
Restart=always

[Install]
WantedBy=multiplexer.target
