[Unit]
Description=Start Tmux Server
Before=display-manager.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -ds dummy
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=display-manager.target
