[Unit]
Description="vimruntime-init"
Requires=environment.target
After=environment.target

[Service]
ExecStart=/usr/bin/sh -c vimruntime-init
Type=oneshot

[Install]
WantedBy=workplace.target
