[Unit]
Description="VPN Connection"

[Service]
ExecStart=/usr/bin/sudo pon provider logfd 2 nodetach debug
ExecStop=/usr/bin/sudo poff
Restart=always
RestartSec=1m

[Install]
WantedBy=environment.target
