[Unit]
Description="vpn %i"

[Service]
ExecStart=/usr/bin/sh -c "vpn $(sed 's/:/ /' <<< %i)"
ExecStop=/usr/bin/sh -c 'sudo pkill -P $MAINPID'
WorkingDirectory=~

[Install]
WantedBy=environment.target
