[Unit]
Description=Fully Configured Workplace
AllowIsolate=yes
DefaultDependencies=no
After=display-manager.target keyboard.target
Requires=display-manager.target

[Install]
WantedBy=default.target
Also=display-manager.target
Also=keyboard.target
Also=dunst.service
Also=volumectl.service
