[Unit]
Description=Set X Root Background To '%i'
Requires=graphical.target
PartOf=background@.service

[Service]
ExecStart=/usr/bin/sh -c 'case "%i" in \
        light) exec xsetroot -grey ;; \
        dark)  exec xsetroot -bg black ;; \
    esac'
ExecStartPost=/usr/bin/xsetroot -cursor_name left_ptr
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=background@.service
DefaultInstance=dark
