[Unit]
Description=Set X Root Background To '%i'
Before=display-manager.target

[Service]
ExecStart=/usr/bin/sh -c 'case "%i" in \
        light) exec xsetroot -grey ;; \
        dark)  exec xsetroot -bg black ;; \
    esac'
ExecStartPost=/usr/bin/xsetroot -cursor_name left_ptr
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
DefaultInstance=light
