[Unit]
Description=Start X on :%i
PartOf=graphical.target
Before=graphical.target
Requires=x:socket@.service

[Service]
Environment=DISPLAY=:%i
ExecStartPre=/usr/bin/systemctl --user import-environment DISPLAY
ExecStart=/usr/bin/bash -c 'exec Xorg $DISPLAY \
    -nolisten tcp \
    -noreset \
    -verbose 2 \
    $${XORG_VT:-vt0$$((%i+1))}'
WorkingDirectory=%h

[Install]
RequiredBy=graphical.target
Also=x:socket@.service graphical.target
DefaultInstance=0
