[Unit]
Description=Start X on :%i
Before=graphical.target
Before=x:socket@.service

[Service]
Environment=DISPLAY=:%i
ExecStartPre=/usr/bin/systemctl --user import-environment DISPLAY
ExecStart=/usr/bin/bash -c 'exec sudo Xorg $DISPLAY \
    -nolisten tcp \
    -noreset \
    -verbose 2 \
    -keeptty \
    $${XORG_VT:-vt0$$((%i+1))}'
ExecStop=/usr/bin/sudo kill $MAINPID
WorkingDirectory=%h

[Install]
RequiredBy=graphical.target
Also=x:socket@.service graphical.target
DefaultInstance=0
