[Unit]
Description=X Screen Locker
PartOf=display-manager.target
After=display-manager.target

[Service]
ExecStart=/usr/bin/xautolock -time %i -locker lock-screen

[Install]
RequiredBy=display-manager.target
DefaultInstance=15
