[Unit]
Description=X Screen Locker
Requires=graphical.target
After=display-manager.target

[Service]
ExecStart=/usr/bin/xautolock -time %i -locker lock-screen

[Install]
WantedBy=display-manager.target
DefaultInstance=15
