[Unit]
Description=xbindkeys hotkey daemon
Requires=graphical.target keyboard.service
After=graphical.target keyboard.service
Before=keyboard.target

[Service]
ExecStart=/usr/bin/xbindkeys -n
KillMode=process

[Install]
WantedBy=keyboard.target
