[Unit]
Description=Synchronize various X clipboard buffers for sane result
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=/bin/xcsyncd

[Install]
WantedBy=workplace.target
