[Unit]
Description=Configure X Resources
Requires=background.target graphical.target
After=background.target graphical.target
BindsTo=background.target

[Service]
WorkingDirectory=%h
ExecStart=/usr/bin/xrdb -load .Xresources
ExecStart=/usr/bin/xrdb -merge .Xresources.${BACKGROUND}
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=background@.service
Also=background.target
