[Unit]
Description=Configure X Resources
PartOf=background.target display-manager.target
Requires=background.target
After=display-manager.target background.target

[Service]
WorkingDirectory=%h
ExecStart=/usr/bin/xrdb -load .Xresources
ExecStart=/usr/bin/xrdb -merge .Xresources.${BACKGROUND}
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
