[Unit]
Description=Configure X screen off timeout
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=/usr/bin/xset s %i
ExecStart=/usr/bin/xset dpms %i %i %i
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=x:config@.target
DefaultInstance=1600
