[Unit]
Description=Configure X Font Path
Requires=graphical.target
After=display-manager.target

[Service]
ExecStart=/usr/bin/xset +fp %h/.fonts
ExecStart=/usr/bin/xset fp rehash
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
