[Unit]
Description=Configure X screen off timeout
PartOf=display-manager.target
After=display-manager.target

[Service]
ExecStart=/usr/bin/xset s %i
ExecStart=/usr/bin/xset dpms %i %i %i
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=display-manager.target
DefaultInstance=1600
