account-hook imap://s.seletskiy@office.ngs.ru@mail.office.ngs.ru/ '\
    set \
    imap_pass={{PASSWORD}}\
    from="{{FROM}}"\
    folder=imap://s.seletskiy@office.ngs.ru@mail.office.ngs.ru/\
    record="+Sent"\
    postponed="+Drafts"'
set spoolfile='imap://s.seletskiy@office.ngs.ru@mail.office.ngs.ru'
