account-hook imap://{{ADDRESS}}@{{SERVER}}/ '\
    set \
    imap_pass={{PASSWORD}}\
    from="{{FULL NAME}}"\
    folder=imap://{{ADDRESS}}@{{SERVER}}/\
    record="+Sent"\
    postponed="+Drafts"'
set spoolfile='imap://{{ADDRESS}}@{{SERVER}}'
