[Unit]
Description=Start X
Required=environment.service

[Service]
ExecStart=/usr/bin/startx
WorkingDirectory=%h

[Install]
WantedBy=default.target
Alias=graphical.target
