[user]
    email = s.seletskiy@gmail.com
    signingkey = 40463A73EE7CAB70495389ABE6B40F71C367E6B5
    name = Stanislav Seletskiy

[credential]
    helper = cache --timeout=3600000

[color]
    branch = auto
    diff = auto
    status = auto
    sh = auto

[merge]
    tool = vimdiff

[core]
    attributesfile = /home/operator/.gitattributes
    excludesfile = /home/operator/.gitignore

[push]
    default = simple

[gpg]
    program = gpg-passphrase

[commit]
    gpgsign = true

[url "git+ssh://bitbucket.org/"]
    insteadOf = https://bitbucket.org/

[url "git+ssh://github.com/"]
    insteadOf = https://github.com/
    insteadOf = https://git::@github.com/
    insteadOf = github:

[url "git+ssh://gitlab.com/"]
    insteadOf = https://gitlab.com/

[http "https://gopkg.in"]
    followRedirects = true
