[user]
	email = s.seletskiy@gmail.com
	name = Stanislav Seletskiy
	signingkey = AC87B82D

[credential]
	helper = cache --timeout=3600000

[color]
	branch = auto
	diff = auto
	status = auto
	sh = auto

[merge]
	tool = vimdiff

[diff "phpf"]
	xfuncname = "^[\t ]*(((public|protected|private|static)[\t ]+)?function.*)$"

[core]
	attributesfile = /home/operator/.gitattributes
	excludesfile = /home/operator/.gitignore

[push]
	default = simple

[gpg]
	program = gpg-passphrase

[url "git+ssh://github.com/"]
	insteadOf = https://github.com/

[url "git+ssh://github.com/"]
	insteadOf = https://git::@github.com/
[http "https://gopkg.in"]
	followRedirects = true
