[submodule ".fonts"]
	path = .fonts
	url = github.com:seletskiy/monaco-font
[submodule "zsh-prompt-lambda17"]
	path = .zprezto/modules/prompt/functions
	url = github.com:seletskiy/zsh-prompt-lambda17
[submodule "rootfs/usr/share/X11/xkb"]
	path = rootfs/usr/share/X11/xkb
	url = github.com:reconquest/rex
