[user]
    email = s.seletskiy@gmail.com
    signingkey = CEA050E77FA00369C888F1E65E533895645BFD67
    name = Stanislav Seletskiy

[credential]
    helper = cache --timeout=3600000

[color]
    branch = auto
    diff = auto
    status = auto
    sh = auto

[merge]
    tool = vimdiff

[core]
    attributesfile = /home/operator/.gitattributes
    excludesfile = /home/operator/.gitignore

[rebase]
    instructionFormat = "(%an <%ae>) %s"

[push]
    default = simple

[gpg]
    program = gpg-passphrase

[commit]
    gpgsign = true

[url "ssh://bitbucket.org/"]
    insteadOf = https://bitbucket.org/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[http "https://gopkg.in"]
    followRedirects = true

[advice]
	addIgnoredFile = false
	amWorkDir = false
	commitBeforeMerge = false
	detachedHead = false
	implicitIdentity = false
	mergeResolution = false
	pushNonFastForward = false
	pushNonFFCurrent = false
	pushNonFFMatching = false
	pushUpdateRejected = false
	resolveConflict = false
	rmHints = false
	statusHints = false
	submoduleSummary = false
	updateSparsePath = false
