export SHELL=/bin/zsh
export TERMINAL=urxvt
export PATH=$HOME/bin:$HOME/.go/bin/:$PATH
export EDITOR=vim

xset +fp /usr/share/fonts/local
xset fp rehash
xset s 1200
xset dpms 1200 1200 1200
xrdb -merge ~/.Xresources
~/bin/reconfig-kbd
sudo bash -c 'echo 1 > /proc/sys/kernel/sysrq'
xautolock -time 15 -locker ~/bin/lock-screen &
background {{BACKGROUND}}
export BACKGROUND=$(background)
export DOTFILES_RDELAY=100
export DOTFILES_RRATE=160
syndaemon -dtki 2
keynav &
exec i3
