URxvt.loginShell: true
URxvt.transparent: false
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 4096
URxvt.font: xft:Monaco:style=Regular:pixelsize=12
URxvt.boldFont: xft:Monaco:style=Bold:pixelsize=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.termName: rxvt-unicode-256color
URxvt.iso14755: False
URxvt.iso14755_52: False
URxvt.internalBorder: 0
URxvt.perl-ext-common: default,url-select
URxvt.url-select.launcher: /usr/bin/chromium
URxvt.perl-ext: default,url-select,clipboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.chdir: /home/s.seletskiy/
