export SHELL=/bin/zsh
export TERMINAL=urxvt{{TERM_MODE}}
export PATH=/home/s.seletskiy/bin/:$PATH
export GOPATH=/home/s.seletskiy/sources/go

xset +fp /usr/share/fonts/local
xset fp rehash
xrdb -merge ~/.Xresources
~/bin/reconfig-kbd.sh
sudo bash -c 'echo 1 > /proc/sys/kernel/sysrq'
xautolock -time 5 -locker ~/bin/lock-screen &
background {{BACKGROUND}}
export BACKGROUND=$(background)
exec i3 --force-xinerama -V
