[Unit]
Description=Start Clipboard Synchronizer

[Service]
ExecStart=/usr/bin/sh -c 'while :; do xclip -o | xclip -selection clipboard -i; sleep 0.1; done'
User=s.seletskiy
Environment=DISPLAY=:0

[Install]
WantedBy=basic.target
After=display-manager.service
