snippet c2 "2 column layout" w
<div class="contentLayout2">
	<div class="columnLayout two-right-sidebar" data-layout="two-right-sidebar">
		<div class="cell normal" data-type="normal">
			<div class="innerCell" contenteditable="true">
				${1:${VISUAL}}
			</div>
		</div>
		<div class="cell aside" data-type="aside">
			<div class="innerCell" contenteditable="true">
				<!-- col2 -->
			</div>
		</div>
	</div>
</div>
endsnippet
