snippet vf "var func"
var ${1:func} = function ($2) {
	$0
}
endsnippet

snippet i "if"
if ($1) {
	$0
}
endsnippet

snippet f "function" w
function ($1) {
    $0
}
endsnippet

snippet p "console log" b
console.log($1);
endsnippet

snippet r "return" b
return $0;
endsnippet
