snippet 2 "## header" b
## $1
endsnippet

snippet 3 "### header" b
### $1
endsnippet

snippet 4 "### header" b
#### $1
endsnippet

snippet h "h1 header"
${1:Header}
${1/./=/g}
endsnippet

snippet h2 "h2 header"
${1:Header}
${1/./-/g}
endsnippet

snippet ` "code block"
\`\`\`
$0
\`\`\`
endsnippet

snippet b "bold" w
**$1**
endsnippet

snippet sec "Section" b
# ${1:Section Name} #
$0
endsnippet
