snippet s "sub"
sub $1 {
	my($2) = @_;

	$3
}
endsnippet

snippet eq "if eq"
if ($1 eq $2) {
	${3:${VISUAL}}
}
endsnippet

snippet f "self" w
$self->{$1}
endsnippet

snippet m "my"
my \$$1 = $2;
endsnippet

snippet i "if"
if ($1) {
	${2:${VISUAL}}
}
endsnippet

snippet r "return"
return $1;
endsnippet

snippet e "else" w
 else {
	${1:${VISUAL}}
}
endsnippet
