snippet in "if string empty" b
if [ -n "$$1" ]; then
	${2:${VISUAL}}
fi
endsnippet

snippet a "alias" b
alias $1='$2'
endsnippet

snippet i "Description" b
if [ $1 ]; then
	$2
fi
endsnippet

snippet f "function" b
function $1() {
	$2
}
endsnippet
