set jid = {{JID}}
set password = {{PASSWORD}}
set server = {{SERVER}}

set logging_dir = ~/.mcabber/history-office/
set statefile = ~/.mcabber/mcabber-office.state
set fifo_name = ~/.mcabber/mcabber-office.fifo

source ~/.mcabber/mcabberrc.common

set events_command = ~/.mcabber/eventcmd-office-jabber
