set jid = {{JID}}
set password = {{PASSWORD}}
set server = {{SERVER}}

set logging_dir = ~/.mcabber/history-ngs-team/
set statefile = ~/.mcabber/mcabber-ngs-team.state
set fifo_name = ~/.mcabber/mcabber-ngs-team.fifo

alias d = roster search devops@

set autojoin = devops@conference.{{SERVER}},golang,it-tops,vim,office,general,backend,techops,programming

source ~/.mcabber/mcabberrc.common

set events_command = ~/.mcabber/eventcmd-ngs-team
