set jid = {{JID}}
set password = {{PASSWORD}}
set server = {{SERVER}}

set logging_dir = ~/.mcabber/history-slack/
set statefile = ~/.mcabber/mcabber-slack.state
set fifo_name = ~/.mcabber/mcabber-slack.fifo

alias d = roster search devops@

set autojoin = devops@conference.{{SERVER}},golang,it-tops,vim,office,general,backend,techops,programming

source ~/.mcabber/mcabberrc.common

set events_command = ~/.mcabber/eventcmd-ngs-team
