[Unit]
Description=Run keynav
Requires=graphical.target

[Service]
ExecStart=/usr/bin/keynav
Environment=DISPLAY=:0 HOME=/home/s.seletskiy/ PATH=/bin/:/home/s.seletskiy/bin
User=s.seletskiy
Restart=always

[Install]
WantedBy=multi-user.target
