[Unit]
Description=Share ~/public/ over HTTP
Requires=network.target

[Service]
ExecStart=/usr/bin/python -m http.server 80
WorkingDirectory=/home/s.seletskiy/public/

[Install]
WantedBy=multi-user.target
