[Unit]
Description=Redshift
After=x11.service
Requires=x11.service

[Service]
Type=simple
User=s.seletskiy
ExecStart=/home/s.seletskiy/bin/redshift
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
