[Unit]
Description=Start Tmux

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -ds dummy
ExecStop=/usr/bin/tmux kill-server
Environment=DISPLAY=:0
User=s.seletskiy

[Install]
WantedBy=basic.target
Before=display-manager.service
