[Unit]
Description=Start X11

[Service]
ExecStart=/usr/bin/startx
User=s.seletskiy
WorkingDirectory=/home/s.seletskiy/

[Install]
WantedBy=basic.target
