#TabsToolbar {
    height: 20px !important;
}

.tabbrowser-tab {
    font-family: Verdana !important;
    font-size: 10px !important;
}

.tabbrowser-tabs {
    height: 20px !important;
    min-height: 20px !important;
    margin-top: -2px !important;
}

.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before {
  min-height: 20px !important;
}

#ctraddon_puib_separator {
    display: none;
}
